<div class="modal-popup site-details">
    <div class="header popupHeaderBg">
        <div class="left-side">
            <h1 class="title">Zone Master Data</h1>
        </div>
        <div class="right-side">
            <a href="javascript:void(0);" (click)="close($event)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
            </a>
        </div>
    </div>

    <div class="body" [ngClass]="{'aLoader': isLoading}">
        <form [formGroup]="masterForm" class="form">
            <section class="panel-body">
                <div class="form-container">
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <p style="height: 15px;">  </p>
                            <mat-form-field>
                                <mat-label>Zone Name</mat-label>
                                <input formControlName="name" required matInput />
                                <mat-error *ngIf="mf.name.touched && mf.name.invalid">
                                    <div *ngIf="mf.name.errors?.required" class="italicAlign">Name is required.</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <p style="height: 15px; color: white;">RegionName</p>
                            <select formControlName="selRegion" name="selRegion" class="input-element mini" style="height: 58px;">
                                <option *ngFor="let item of regionList" [ngValue]="item">{{item.rgRegion}}</option>
                            </select>
                        </div>
        
                        <div class="form-field col-4">
                            <p style="height: 15px; color: white;">Country Name</p>
                            <select formControlName="selCountry" name="selCountry" class="input-element mini" style="height: 58px;">
                                <option *ngFor="let item of countryList" [ngValue]="item">{{item.country}}</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="form-group row" style="margin-bottom: 0px; display: none;">
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter Acsys Sync Status Name</mat-label>
                                <input formControlName="acsysSyncStatusName" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <input matInput [ngxMatDatetimePicker]="picker" placeholder="Select Acsys Sync Date"
                                    formControlName="acsysSyncDateName" [min]="minDate" [max]="maxDate" [disabled]="disabled">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                    [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                    [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian">
                                </ngx-mat-datetime-picker>
                            </mat-form-field>
                        </div>

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter ACC ID Name</mat-label>
                                <input formControlName="accIdName" matInput />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </section>

            <section class="footer">
                <mat-dialog-actions style="padding: 15px 10px;">
                    <button class="btn btn-primary-outline" (click)="cancel($event)">Cancel</button>
                    <button class="btn btn-primary" *ngIf="isForEdit" (click)="save($event)"
                        [disabled]="masterForm.invalid">Update
                        <mat-icon class="imgPreIcon rotating" *ngIf="isSaving">
                            autorenew
                        </mat-icon>
                    </button>
                    <button class="btn btn-primary" *ngIf="!isForEdit" (click)="save($event)"
                        [disabled]="masterForm.invalid">Add
                        <mat-icon class="imgPreIcon rotating" *ngIf="isSaving">
                            autorenew
                        </mat-icon>
                    </button>
                </mat-dialog-actions>
            </section>
        </form>
    </div>
</div>