<div class="modal-popup site-details">
    <div class="header popupHeaderBg">
        <div class="left-side">
            <h1 class="title">Zone Master Data</h1>
        </div>
        <div class="right-side">
            <a href="javascript:void(0);" (click)="close($event)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
            </a>
        </div>
    </div>

    <div class="body" [ngClass]="{'aLoader': isSaving || isLoading}">
        <form [formGroup]="masterForm" class="form">

            <div class="form-group row" style="margin-bottom: 0px;">
                <div class="form-field col-4">
                    <mat-form-field>
                        <mat-label>Zone Name</mat-label>
                        <input formControlName="name" required matInput />
                        <mat-error *ngIf="mf.name.touched && mf.name.invalid">
                            <div *ngIf="mf.name.errors?.required" class="italicAlign">Name is required.</div>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-field col-4">
                    <select formControlName="selRegion" name="selRegion" class="input-element mini">
                        <option *ngFor="let item of regionList" [ngValue]="item">{{item.label}}</option>
                    </select>
                </div>

                <div class="form-field col-4">
                    <select formControlName="selCountry" name="selCountry" class="input-element mini">
                        <option *ngFor="let item of countryList" [ngValue]="item">{{item.label}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row" style="margin-bottom: 0px;">
                <div class="form-field col-4">
                    <mat-form-field>
                        <mat-label>Enter Acsys Sync Status Name</mat-label>
                        <input formControlName="acsysSyncStatusName" matInput />
                    </mat-form-field>
                </div>

                <div class="form-field col-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Select Acsys Sync Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="acsysSyncDateName">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="form-field col-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Select Acsys Sync Time</mat-label>
                        <input matInput type="time" formControlName="acsysSyncTimeName" />
                    </mat-form-field>
                </div>
            </div>

            <div class="form-group row" style="margin-bottom: 0px;">
                <div class="form-field col-4">
                    <mat-form-field>
                        <mat-label>Enter ACC ID Name</mat-label>
                        <input formControlName="accIdName" matInput />
                    </mat-form-field>
                </div>
            </div>

            <div class="footer">
                <button class="btn btn-primary-outline" (click)="cancel($event)">Cancel</button>
                <button class="btn btn-primary" *ngIf="isForEdit" (click)="save($event)"
                    [disabled]="masterForm.invalid">Update
                    <mat-icon class="imgPreIcon rotating" *ngIf="isSaving">
                        autorenew
                    </mat-icon>
                </button>
                <button class="btn btn-primary" *ngIf="!isForEdit" (click)="save($event)"
                    [disabled]="masterForm.invalid">Add
                    <mat-icon class="imgPreIcon rotating" *ngIf="isSaving">
                        autorenew
                    </mat-icon>
                </button>
            </div>
        </form>
    </div>
</div>