<div class="parent-container">
    <div class="header">
      <div class="left-side back-filter">
          <!-- <button class="btn btn-default" (click)="goBack();">
              <span class="material-icons">
                  arrow_back_ios
              </span> ALARM STATUS
          </button> -->
          <!-- <button class="btn btn-primary" (click)="openTabularFilter($event);">FILTERS</button>
          <app-global-search (searchEventTrigger)="searchGlobally($event)"></app-global-search> -->
      </div>
       <!-- <div class="right-side">
          <div class="export">
              <label>Export</label>
               <select class="mini" (change)="exportOptSelected($event);"[(ngModel)]="ddExport">
                  <option value="-1">Please Select</option>
                  <option value="1">Excel</option>
                  <option value="2">CSV</option>
                  
              </select>
          </div>
      </div>  -->
    </div>
    <section>
      <!--for demo wrap-->
      <h1>Settable Load</h1>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0">
          <thead>
            <tr id="header-row">
              <!-- <th>Sr no</th> -->
              <th>Create Date</th>
              <!-- <th>Site ID</th> -->
              <th>Site Code </th>
              <th>Settable Load</th>
              <th>Load Difference</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <ng-container>
              <tr *ngFor="let item of tableData;let i=index">
                <!-- <td>{{ item.srno }}</td> -->
              <td>{{ item.createDate }}</td>
              <!-- <td>{{ item.smSiteID }}</td> -->
              <td>{{ item.smSiteCode }}</td>
              <td>{{ item.settableLoad }}</td>
              <td>{{ item.loadDifference }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </section>
    
    </div>