<div class="modal-popup site-details">
    
    <div class="header popupHeaderBg">
        <div class="left-side">
            <h1 class="title">User Master Data</h1>
        </div>
        <div class="right-side">
            <a href="javascript:void(0);" (click)="close($event)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
            </a>
        </div>
    </div>

    <div class="body" [ngClass]="{'aLoader': isSaving}">
        <form [formGroup]="masterForm" class="form">
            <section class="panel-body">
                <div class="form-container">
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter First Name</mat-label>
                                <input formControlName="firstName" required matInput />
                                <mat-error *ngIf="mf.firstName.touched && mf.firstName.invalid">
                                    <div *ngIf="mf.firstName.errors?.required" class="italicAlign">First name is
                                        required.</div>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter Last Name</mat-label>
                                <input formControlName="lastName" required matInput />
                                <mat-error *ngIf="mf.lastName.touched && mf.lastName.invalid">
                                    <div *ngIf="mf.lastName.errors?.required" class="italicAlign">Last name is required.
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter Email</mat-label>
                                <input formControlName="umEmailid" required matInput />
                                <mat-error *ngIf="mf.umEmailid.touched && mf.umEmailid.invalid">
                                    <div *ngIf="mf.umEmailid.errors?.required" class="italicAlign">Email is required.
                                    </div>
                                    <div *ngIf="mf.umEmailid.errors?.email" class="italicAlign">Email is not valid.
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter Username</mat-label>
                                <input formControlName="uname" required matInput autocomplete="off" />
                                
                                <div *ngIf="isDuplicateCheck" class="text-danger">Username already exists</div>

                                <mat-error *ngIf="mf.uname.touched && mf.uname.invalid">
                                    <div *ngIf="mf.uname.errors?.required" class="italicAlign">Username is required.
                                    </div>
                                </mat-error>                               
                            </mat-form-field>
                        </div>

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter Password</mat-label>
                                <input formControlName="pwd" autocomplete="off webauthn" 
                                     type="password" required matInput />
                                <mat-error *ngIf="mf.pwd.touched && mf.pwd.invalid">
                                    <div *ngIf="mf.pwd.errors?.required" class="italicAlign">Password is required.
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Confirm Password</mat-label>
                                <input formControlName="cnfPassword" autocomplete="off" 
                                    type="password" required matInput />
                                <mat-error *ngIf="mf.cnfPassword.touched && mf.cnfPassword.invalid">
                                    <div *ngIf="mf.cnfPassword.errors?.required" class="italicAlign">Confirm Password is
                                        required.</div>
                                    <div *ngIf="mf.cnfPassword.errors.confirmedValidator">Password and Confirm Password
                                        must be match.</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4" style="display: none;">
                            <mat-label>Select Customer</mat-label>
                            <select formControlName="selCustomer" name="selCustomer" class="input-element mini">
                                <option *ngFor="let item of customerList" [ngValue]="item">{{item.customername}}
                                </option>
                            </select>
                        </div>

                        <div class="form-field col-4">
                            <mat-label>Select Customer </mat-label>
                            <select formControlName="selCustomerRole" name="selCustomerRole" class="input-element mini">
                                <option *ngFor="let item of customerRoleList" [ngValue]="item">{{item.customerdesc}}
                                </option>
                            </select>
                        </div>

                        <div class="form-field col-4">
                            <mat-label>Site Profile</mat-label>
                            <select formControlName="selUserRole" name="selUserRole" class="input-element mini">
                                <option *ngFor="let item of userRoleList" [ngValue]="item">{{item.rolename}}</option>
                            </select>
                        </div>

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter Mobile No</mat-label>
                                <input formControlName="mobile" required matInput />
                                <mat-error *ngIf="mf.mobile.touched && mf.mobile.invalid">
                                    <div *ngIf="mf.mobile.errors?.required" class="italicAlign">Mobile number is
                                        required.</div>
                                    <div *ngIf="mf.mobile.errors?.pattern" class="italicAlign">Mobile number is
                                        not valid.</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                        <div class="form-group row" style="margin-bottom: 0px;">

                        <div class="form-field col-4">
                            <mat-label>Activation Status</mat-label>
                            <select formControlName="umAactivationstatus" name="umAactivationstatus" class="input-element mini" [ngModel]="isForEdit ? activationStatusOptions[indexVar] : activationStatusOptions[0]">
                                <option *ngFor="let item of activationStatusOptions" [ngValue]="item">{{item.label}}</option>
                            </select>
                        </div>
                        
                        <div class="form-field col-4" style="display: none;">
                            <mat-form-field>
                                <mat-label>Enter Description</mat-label>
                                <input formControlName="umDescription" matInput />
                            </mat-form-field>
                        </div>

                        <div class="form-field col-4" >
                            <mat-label>Level Access</mat-label>
                            <select formControlName="umlevelAccess" name="umlevelAccess" class="input-element mini" [ngModel]="isForEdit ? umlevelAccessOptions[umLevelAccessIndexVar-1] : umlevelAccessOptions[1]">
                                <option *ngFor="let item of umlevelAccessOptions" [ngValue]="item">{{item.label}}</option>
                            </select>
                        </div>
                        

                        <div class="form-field col-4">
                            <mat-label>Enter Login Type</mat-label>
                            <select formControlName="umLoginType" name="umLoginType" class="input-element mini" [ngModel]="isForEdit ? umLoginTypeOptions[umLoginTypeIndexVar] : umLoginTypeOptions[1]">
                                <option *ngFor="let item of umLoginTypeOptions" [ngValue]="item">{{item.label}}</option>
                            </select>
                        </div>

                        <div class="form-field col-4" style="display: none;">
                            <mat-form-field>
                                <mat-label>Enter Type</mat-label>
                                <input formControlName="umType" type="number" matInput />
                            </mat-form-field>
                        </div>
                    </div>

                        <div class="form-group row" style="margin-bottom: 0px;display: none;" >

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter Id</mat-label>
                                <input formControlName="utID" type="number" matInput />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </section>

            <section class="footer">
                <mat-dialog-actions style="padding: 15px 10px;">
                    <button class="btn btn-primary-outline" (click)="cancel($event)">Cancel</button>
                    <button class="btn btn-primary" *ngIf="isForEdit" (click)="save($event)"
                        [disabled]="masterForm.invalid">Update
                        <mat-icon class="imgPreIcon rotating" *ngIf="isSaving">
                            autorenew
                        </mat-icon>
                    </button>
                    <button class="btn btn-primary" *ngIf="!isForEdit" (click)="save($event)"
                        [disabled]="masterForm.invalid">Add
                        <mat-icon class="imgPreIcon rotating" *ngIf="isSaving">
                            autorenew
                        </mat-icon>
                    </button>
                </mat-dialog-actions>
            </section>
        </form>
    </div>
</div>