:host {
    display: block;
    height: 100%;
}

.parent-container {

    height: 100%;
    overflow: auto;
    position: relative;

    &::-webkit-scrollbar {
        width: .3125rem;
        height: .3125rem
    }

    &::-webkit-scrollbar-thumb {
        background: #3f51b5;
        cursor: pointer;
        border-radius: .15625rem
    }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        position: absolute;
        width: 100%;
        left: 0px;
        padding: 0px 36px;
        background-color: transparent;
        z-index: 1;
    }
}

:host {
    display: block;
    height: 100%;
}


.filter-criteria {
    display: flex;
    justify-content: space-between;

    .checkbox-container {
        margin-top: 15px;

        .elem-row {
            margin: 0px 0px 40px 0px;
            display: flex;

            >label {
                width: 100px;
                color: #fff;
                font-size: 00.9375rem;
                font-weight: normal;
            }
        }

        ul {
            list-style: none;
            padding: 0px;
            margin: 0px;

            li {
                float: left;
                width: 50%;
            }
        }
    }
}

.header {
    .left-side {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >div {
            margin-right: 10px;
        }
    }
}


.tabular-filter-wrapper {
    transition: 0.5s;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 60%;
    height: 0px;
    opacity: 0;

    &.open {
        height: 100%;
        opacity: 1;
        z-index: 4;
    }
}

.export-container {
    display: none;

    &.show {
        display: block;
    }
}

:host {
    display: block;
    height: 100%;
}

.parent-container {

    height: 100%;
    overflow: auto;
    position: relative;

    &::-webkit-scrollbar {
        width: .3125rem;
        height: .3125rem
    }

    &::-webkit-scrollbar-thumb {
        background: #3f51b5;
        cursor: pointer;
        border-radius: .15625rem
    }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        position: absolute;
        width: 100%;
        left: 0px;
        padding: 0px 36px;
        background-color: transparent;
        z-index: 1;

        .back-filter {
            >button {
                margin-right: 16px;
            }
        }

        .right-side {
            .export {
                label {
                    font-size: 0.9375rem;
                    margin-right: 24px;
                    color: white;
                }

                select {
                    background-color: #192038;
                    color: white;
                    border: 1px solid #101426;
                    border-radius: 4px;
                    font-size: 0.9375rem;
                    padding: 8px 16px;
                    text-align: left;
                    width: 175px;
                    font-weight: bold;

                    &.mini {
                        background-image: linear-gradient(45deg, transparent 50%, #8F9BB3 50%), linear-gradient(135deg, #8F9BB3 50%, transparent 50%), linear-gradient(to right, #8F9BB3, #ccc);
                        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
                        background-size: 5px 5px, 5px 5px, 1px 1.5em;
                        background-repeat: no-repeat;

                        * {
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
    }
}

:host {
    display: block;
    height: 100%;
}


.filter-criteria {
    display: flex;
    justify-content: space-between;

    .checkbox-container {
        margin-top: 15px;

        .elem-row {
            margin: 0px 0px 40px 0px;
            display: flex;

            >label {
                width: 100px;
                color: #fff;
                font-size: 00.9375rem;
                font-weight: normal;
            }
        }

        ul {
            list-style: none;
            padding: 0px;
            margin: 0px;

            li {
                float: left;
                width: 50%;
            }
        }
    }
}

.header {
    .left-side {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >div {
            margin-right: 10px;
        }
    }
}


.tabular-filter-wrapper {
    transition: 0.5s;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 75%;
    height: 0px;
    opacity: 0;

    &.open {
        height: 100%;
        opacity: 1;
        z-index: 4;
    }
}

.export-container {
    display: none;

    &.show {
        display: block;
    }
}