<div class="parent-container">
    <div class="header">
        <div class="add-report">
            <button *ngIf="addUser" class="btn btn-default" (click)="add($event);">
                <span class="material-icons">add</span> ADD
            </button>
            

            <app-global-search (searchEventTrigger)="searchGlobally($event)"></app-global-search>
            <!-- <button class="btn btn-primary" (click)="openTabularFilter($event);">FILTERS</button> -->
        </div>

        <div class="export">
            <button class="btn btn-default" (click)="exportExcel($event);">
                EXPORT TO EXCEL
            </button>
            <button class="btn btn-default" (click)="exportCSV($event);">
                EXPORT TO CSV
            </button>
        </div>
    </div>

    <div class="table-listing">
        <div class="box">
            <div class="box-title">
                <h4>User Master</h4>
            </div>
            <div class="box-body">
                <div class="list-wrap">
                    <div class="view-holder">

                        <div class="export-container" [ngClass]="{'show': isExporting}" *ngIf="activeListing.list && activeListing.list.data">
                            <table id="export-data">
                                <thead>
                                    <tr>
                                        <th>SrNo</th>
                                        <th>Name</th>
                                        <th>User Name</th>
                                        <th>Email Id</th>
                                        <th>Mobile Number</th>
                                        <!-- <th>Customer Name</th> -->
                                        <th>Customer Name</th>
                                        <th>User Role Name</th>
                                        <th>Activation Status</th>
                                        <th>Access Level</th>
                                        <th>Login Type</th>
                                        <!-- <th>User Type</th> -->
                                        <!-- <th>Description</th> -->
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of activeListing.list.data">
                                        <td>{{item.srno}}</td>
                                        <td>{{item.umName}}</td>
                                        <td>{{item.username}}</td>
                                        <td>{{item.umEmailid}}</td>
                                        <td>{{item.umMobileNumber}}</td>
                                        <!-- <td>{{item.customerName}}</td> -->
                                        <td>{{item.customerRoleName}}</td>
                                        <td>{{item.roleName}}</td>
                                        <td>{{item.umDescription}}</td>
                                        <td>{{item.umAccessLevel}}</td>

                                        <td>{{item.umLoginTypeCountry}}</td>
                                        <!-- <td>{{item.umType}}</td> -->
                                        <!-- <td>{{item.umDescription}}</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="listing-container" [ngClass]="{'aLoader': isLoading, 'failed': isListServerError}">
                            <app-table-listing [listData]="activeListing.list" [appType]="appType"
                                [template]="listingTemplate" [inifiniteScroll]=true [pager]=false
                                (onRowSelectionChange)="onRowSelectionChanged($event)"
                                (onSelectionChange)="loadListing($event)">
                            </app-table-listing>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>