<div class="listing-container">
    <div class="listing" #sdEvent>
        <div class="head">
            <ul>
                <li>Site Id</li>
                <li>Alarm Name</li>
                <li>Last Updated</li>
                <li>Age</li>
            </ul>
        </div>
        <div class="body" [ngClass]="{'aLoader': isLoading}">
            <ul *ngFor="let item of dataSource">
                <li [title]="item?.smSiteCode">{{item?.smSiteCode}}</li>
                <li [title]="item?.alName">{{item?.alName}}</li>
                <li [title]="item?.alOpentime">{{item?.alOpentime}}</li>
                <li [title]="item?.displayAge">{{item?.displayAge}}</li>
            </ul>
        </div>
    </div>
</div>