<div class="listing-container">
    <div class="listing" #sdEvent>
        <div class="head">
            <ul>
                <li>Last Updated</li>
                <li>Power Source</li>
                <li>Region</li>
                <li>Site ID</li>
            </ul>
        </div>
        <div class="body" [ngClass]="{'aLoader': isLoading}">
            <ul *ngFor="let item of dataSource">
                <li [title]="item?.lastUpdated">{{item?.lastUpdated}}</li>
                <li [title]="item?.powerSource">{{item?.powerSource}}</li>
                <li [title]="item?.region">{{item?.region}}</li>
                <li [title]="item?.smSiteCode">{{item?.smSiteCode}}</li>
            </ul>
        </div>
    </div>
</div>