label {
    display: inline-block;
    margin-bottom: .5rem;
}

.label {
    color: #8f9bb3;
    font-weight: 700;
}

.label {
    font-family: Open Sans,sans-serif;
    font-size: .75rem;
    line-height: 1rem;
}