<div class="modal-popup site-details">
    <div class="header popupHeaderBg">
        <div class="left-side">
            <h1 class="title">Employee Master Data</h1>
        </div>
        <div class="right-side">
            <a href="javascript:void(0);" (click)="close($event)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
            </a>
        </div>
    </div>

    <div class="body" [ngClass]="{'aLoader': isLoading}">
        <form [formGroup]="masterForm" class="form">
            <section class="panel-body">
                <div class="form-container">
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <select formControlName="selSiteCode" name="selEscalationMode" class="input-element mini">
                                <option *ngFor="let item of siteCodeList" [ngValue]="item">{{item.smSitecode}}</option>
                            </select>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Solar Output Energy</mat-label>
                                <input formControlName="solarOutputEnergy" type="number" matInput />
                            </mat-form-field>
                        </div>
        
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Solar Run Hrs</mat-label>
                                <input formControlName="solarRunHrs" type="number" matInput />
                            </mat-form-field>
                        </div>
                    </div>
        
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>DG Energy</mat-label>
                                <input formControlName="dgEnergy" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>DG Run Hrs.</mat-label>
                                <input formControlName="dgRunHrs" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>MDG Energy</mat-label>
                                <input formControlName="mdgEnergy" type="number" matInput />
                            </mat-form-field>
                        </div>
                    </div>
        
                    <div class="form-group row" style="margin-bottom: 0px;">
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>MDG Run Hrs.</mat-label>
                                <input formControlName="mdgRunHrs" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Batt Dis Energy(kwh)</mat-label>
                                <input formControlName="battDisEnergy" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Batt Dis Run Hrs.</mat-label>
                                <input formControlName="battRunHrs" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                    </div>
        
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Batt Charging Energy(kwh)</mat-label>
                                <input formControlName="battChargingEnergy" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Batt Charging Energy Run Hrs.</mat-label>
                                <input formControlName="battChargingRunHrs" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Solar Batt Run Hrs.</mat-label>
                                <input formControlName="solarBattRunHrs" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                    </div>
        
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Solar DG Run Hrs.</mat-label>
                                <input formControlName="solarDGRunHrs" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Solar MDG Run Hrs.</mat-label>
                                <input formControlName="solarMDGRunHrs" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Tele Energy</mat-label>
                                <input formControlName="teleEnergy" type="number" matInput />
                            </mat-form-field>
                        </div>
                    </div>
        
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Tele Run Hrs.</mat-label>
                                <input formControlName="teleRunHrs" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Community Load Energy</mat-label>
                                <input formControlName="communityLoadEnergy" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Community Load Run Hrs.</mat-label>
                                <input formControlName="communityLoadRunHrs" type="number" matInput />
                            </mat-form-field>
                        </div>
                    </div>
        
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Opco 1 (kwh)</mat-label>
                                <input formControlName="opco1" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Opco 1 Run Hrs.</mat-label>
                                <input formControlName="opco1RunHrs" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Opco 2 (kwh)</mat-label>
                                <input formControlName="opco2" type="number" matInput />
                            </mat-form-field>
                        </div>
                    </div>
        
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Opco 2 Run Hrs.</mat-label>
                                <input formControlName="opco2RunHrs" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Opco 3 (kwh)</mat-label>
                                <input formControlName="opco3" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Opco 3 Run Hrs.</mat-label>
                                <input formControlName="opco3RunHrs" type="number" matInput />
                            </mat-form-field>
                        </div>
                    </div>
        
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Opco 4 (kwh)</mat-label>
                                <input formControlName="opco4" type="number" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Opco 4 Run Hrs.</mat-label>
                                <input formControlName="opco4RunHrs" type="number" matInput />
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </section>

            <section class="footer">
                <mat-dialog-actions style="padding: 15px 10px;">
                    <button class="btn btn-primary-outline" (click)="cancel($event)">Cancel</button>
                    <button class="btn btn-primary" *ngIf="isForEdit" (click)="save($event)"
                        [disabled]="masterForm.invalid">Update
                        <mat-icon class="imgPreIcon rotating" *ngIf="isSaving">
                            autorenew
                        </mat-icon>
                    </button>
                    <button class="btn btn-primary" *ngIf="!isForEdit" (click)="save($event)"
                        [disabled]="masterForm.invalid">Add
                        <mat-icon class="imgPreIcon rotating" *ngIf="isSaving">
                            autorenew
                        </mat-icon>
                    </button>
                </mat-dialog-actions>
            </section>
        </form>
    </div>
</div>