<nav class="fixed">
    <header>
        <div class="header-container">
            <div class="logo-container">
                <a href="javascript:void(0);" class="mat-ripple sidebar-toggle mat-ripple-unbounded" (click)="toggleSidebar($event);">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">view_sidebar</mat-icon>
                </a>
                <a href="#" class="logo">
                    <img src="http://18.140.172.75:8080/digitrinity/resources/assets/images/yoma_logo.png" alt="" title="" 
                        style="height: 60px; margin-top: -5px;">
                </a>
            </div>
        </div>
    </header>
</nav>