<div class="modal-popup site-details">
    <div class="header popupHeaderBg">
        <div class="left-side">
            <h1 class="title">Site Master Data</h1>
        </div>
        <div class="right-side">
            <a href="javascript:void(0);" (click)="close($event)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
            </a>
        </div>
    </div>

    <div class="body" [ngClass]="{'aLoader': isSaving || isLoading}">
        <form [formGroup]="masterForm" class="form">

            <div class="form-group row" style="margin-bottom: 0px;">
                <div class="form-field col-4">
                    <mat-form-field>
                        <mat-label>Enter Site Code</mat-label>
                        <input formControlName="siteCode" required matInput />
                        <mat-error *ngIf="mf.siteCode.touched && mf.siteCode.invalid">
                            <div *ngIf="mf.siteCode.errors?.required" class="italicAlign">Site Code is required.</div>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-field col-4">
                    <mat-form-field>
                        <mat-label>Enter Site Name</mat-label>
                        <input formControlName="siteName" required matInput />
                        <mat-error *ngIf="mf.siteName.touched && mf.siteName.invalid">
                            <div *ngIf="mf.siteName.errors?.required" class="italicAlign">Site Name is required.</div>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-field col-4">
                    <select formControlName="selSiteType" name="selSiteType" class="input-element mini">
                        <option *ngFor="let item of siteTypeList" [ngValue]="item">{{item.label}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row" style="margin-bottom: 0px;">
                <div class="form-field col-4">
                    <select formControlName="selCluster" name="selCluster" class="input-element mini">
                        <option *ngFor="let item of clusterList" [ngValue]="item">{{item.label}}</option>
                    </select>
                </div>

                <div class="form-field col-4">
                    <mat-form-field>
                        <mat-label>Enter Address</mat-label>
                        <input formControlName="address"  matInput />
                    </mat-form-field>
                </div>

                <div class="form-field col-4">
                    <mat-form-field>
                        <mat-label>Enter District</mat-label>
                        <input formControlName="district" matInput />
                    </mat-form-field>
                </div>
            </div>

            <div class="form-group row" style="margin-bottom: 0px;">
                <div class="form-field col-4">
                    <mat-form-field>
                        <mat-label>Enter Pin Code</mat-label>
                        <input formControlName="pinCode" matInput />
                    </mat-form-field>
                </div>

                <div class="form-field col-4">
                    <select formControlName="selEmployee" name="selEmployee" class="input-element mini">
                        <option *ngFor="let item of employeeList" [ngValue]="item">{{item.name}}</option>
                    </select>
                </div>

                <div class="form-field col-4">
                    <mat-form-field>
                        <mat-label>Enter Latitude</mat-label>
                        <input formControlName="latitude" matInput />
                    </mat-form-field>
                </div>
            </div>

            <div class="form-group row" style="margin-bottom: 0px;">
                <div class="form-field col-4">
                    <mat-form-field>
                        <mat-label>Enter Longitude</mat-label>
                        <input formControlName="longitude" matInput />
                    </mat-form-field>
                </div>

                <div class="form-field col-4">
                    <select formControlName="selDeviceType" name="selDeviceType" class="input-element mini">
                        <option *ngFor="let item of deviceTypeList" [ngValue]="item">{{item.name}}</option>
                    </select>
                </div>

                <div class="form-field col-4">
                    <select formControlName="selSim" name="selSim" class="input-element mini">
                        <option *ngFor="let item of simList" [ngValue]="item">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row" style="margin-bottom: 0px;">
                <div class="form-field col-4">
                    <mat-form-field>
                        <mat-label>Enter Dv Unique Id</mat-label>
                        <input formControlName="dvUniqueId" matInput />
                    </mat-form-field>
                </div>

                <div class="form-field col-4">
                    <select formControlName="selSiteStatus" name="selSiteStatus" class="input-element mini">
                        <option *ngFor="let item of siteStatusList" [ngValue]="item">{{item.name}}</option>
                    </select>
                </div>

                <div class="form-field col-4">
                    <select formControlName="selCustomer" name="selCustomer" class="input-element mini">
                        <option *ngFor="let item of customerList" [ngValue]="item">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row" style="margin-bottom: 0px;">
                
                <div class="form-field col-4">
                    <select formControlName="selSiteClassification" name="selSiteClassification" class="input-element mini">
                        <option *ngFor="let item of siteClassificationList" [ngValue]="item">{{item.name}}</option>
                    </select>
                </div>

                <div class="form-field col-4">
                    <mat-form-field>
                        <mat-label>Enter AccId Name</mat-label>
                        <input formControlName="accIdName" matInput />
                    </mat-form-field>
                </div>

                <div class="form-field col-4">
                    <mat-form-field>
                        <mat-label>Enter DG Brand Name</mat-label>
                        <input formControlName="dgBrandName" matInput />
                    </mat-form-field>
                </div>

            </div>

            <div class="form-group row" style="margin-bottom: 0px;">
                <div class="form-field col-4">
                    <mat-form-field>
                        <mat-label>Enter DG Tank Capacity</mat-label>
                        <input formControlName="dgTankCapacity" matInput />
                    </mat-form-field>
                </div>
            </div>

            <div class="footer">
                <button class="btn btn-primary-outline" (click)="cancel($event)">Cancel</button>
                <button class="btn btn-primary" *ngIf="isForEdit" (click)="save($event)"
                    [disabled]="masterForm.invalid">Update
                    <mat-icon class="imgPreIcon rotating" *ngIf="isSaving">
                        autorenew
                    </mat-icon>
                </button>
                <button class="btn btn-primary" *ngIf="!isForEdit" (click)="save($event)"
                    [disabled]="masterForm.invalid">Add
                    <mat-icon class="imgPreIcon rotating" *ngIf="isSaving">
                        autorenew
                    </mat-icon>
                </button>
            </div>
        </form>
    </div>
</div>