<div class="modal-popup site-details">
    <div class="header popupHeaderBg">
        <div class="left-side">
            <h1 class="title">Site Master Data</h1>
        </div>
        <div class="right-side">
            <a href="javascript:void(0);" (click)="close($event)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
            </a>
        </div>
    </div>

    <div class="body" [ngClass]="{'aLoader': isSaving}">
        <form [formGroup]="masterForm" class="form">
            <section class="panel-body">
                <div class="form-container">

                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-6">
                            <mat-form-field>
                                <mat-label>Enter Site Code</mat-label>
                                <input formControlName="siteCode" required matInput />
                                <mat-error *ngIf="mf.siteCode.touched && mf.siteCode.invalid">
                                    <div *ngIf="mf.siteCode.errors?.required" class="italicAlign">Site Code is required.</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-6">
                            <mat-form-field>
                                <mat-label>Enter Site Name</mat-label>
                                <input formControlName="siteName" required matInput />
                                <mat-error *ngIf="mf.siteName.touched && mf.siteName.invalid">
                                    <div *ngIf="mf.siteName.errors?.required" class="italicAlign">Site Name is required.</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter Address</mat-label>
                                <input formControlName="address" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter District</mat-label>
                                <input formControlName="district" matInput />
                            </mat-form-field>
                        </div>

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter Pin Code</mat-label>
                                <input type="number" formControlName="pinCode" matInput />
                            </mat-form-field>
                        </div>
                    </div>
        
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter Latitude</mat-label>
                                <input type="number" formControlName="latitude" matInput />
                            </mat-form-field>
                        </div>

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter Longitude</mat-label>
                                <input type="number" formControlName="longitude" matInput />
                            </mat-form-field>
                        </div>

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter Dv Unique Id</mat-label>
                                <input formControlName="dvUniqueId" matInput />
                            </mat-form-field>
                        </div>
                    </div>
        
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-label>Select Site Type</mat-label>
                            <select formControlName="selSiteType" name="selSiteType" class="input-element mini">
                                <option *ngFor="let item of siteTypeList" [ngValue]="item">{{item.type}}</option>
                            </select>
                        </div>

                        <div class="form-field col-4">
                            <mat-label>Select Cluster</mat-label>
                            <select formControlName="selCluster" name="selCluster" class="input-element mini">
                                <option *ngFor="let item of clusterList" [ngValue]="item">{{item.crName}}</option>
                            </select>
                        </div>

                        <div class="form-field col-4">
                            <mat-label>Select Employee</mat-label>
                            <select formControlName="selEmployee" name="selEmployee" class="input-element mini">
                                <option *ngFor="let item of employeeList" [ngValue]="item">{{item.emEmployeeID}}</option>
                            </select>
                        </div>
                    </div>
        
                    
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-label>Select Device Type</mat-label>
                            <select formControlName="selDeviceType" name="selDeviceType" class="input-element mini">
                                <option *ngFor="let item of deviceTypeList" [ngValue]="item">{{item.deviceType}}</option>
                            </select>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-label>Select Sim</mat-label>
                            <select formControlName="selSim" name="selSim" class="input-element mini">
                                <option *ngFor="let item of simList" [ngValue]="item">{{item.simNumber}}</option>
                            </select>
                        </div>

                        <div class="form-field col-4">
                            <mat-label>Select Site Status</mat-label>
                            <select formControlName="selSiteStatus" name="selSiteStatus" class="input-element mini">
                                <option *ngFor="let item of siteStatusList" [ngValue]="item">{{item.label}}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter AccId Name</mat-label>
                                <input type="number" formControlName="accIdName"  matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter DG Brand Name</mat-label>
                                <input formControlName="dgBrandName" matInput />
                            </mat-form-field>
                        </div>

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter DG Tank Capacity</mat-label>
                                <input type="number" formControlName="dgTankCapacity" matInput />
                            </mat-form-field>
                        </div>
        
                    </div>
        
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-label>Select Customer</mat-label>
                            <select formControlName="selCustomer" name="selCustomer" class="input-element mini">
                                <option *ngFor="let item of customerList" [ngValue]="item">{{item.name}}</option>
                            </select>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-label>Select Site Classification</mat-label>
                            <select formControlName="selSiteClassification" name="selSiteClassification"
                                class="input-element mini">
                                <option *ngFor="let item of siteClassificationList" [ngValue]="item">{{item.label}}</option>
                            </select>
                        </div>

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Dc Start Battery Voltage</mat-label>
                                <input formControlName="dcStartBattVol" matInput />
                            </mat-form-field>
                        </div>

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Settable Comm Load</mat-label>
                                <input formControlName="settableCommLoad" matInput />
                            </mat-form-field>
                        </div>

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Battery Life Cycle</mat-label>
                                <input formControlName="battLifeCycle" matInput />
                            </mat-form-field>
                        </div>

                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Dg Run Hour</mat-label>
                                <input formControlName="dgRunHour" matInput />
                            </mat-form-field>
                        </div>
                      
                    </div>

                </div>
            </section>

            <section class="footer">
                <mat-dialog-actions style="padding: 15px 10px;">
                    <button class="btn btn-primary-outline" (click)="cancel($event)">Cancel</button>
                    <button class="btn btn-primary" *ngIf="isForEdit" (click)="save($event)"
                        [disabled]="masterForm.invalid">Update
                        <mat-icon class="imgPreIcon rotating" *ngIf="isSaving">
                            autorenew
                        </mat-icon>
                    </button>
                    <button class="btn btn-primary" *ngIf="!isForEdit" (click)="save($event)"
                        [disabled]="masterForm.invalid">Add
                        <mat-icon class="imgPreIcon rotating" *ngIf="isSaving">
                            autorenew
                        </mat-icon>
                    </button>
                </mat-dialog-actions>
            </section>
        </form>
    </div>
</div>