<div class="parent-container">
    <div class="header">
        <div class="add-report">
            <button class="btn btn-default" (click)="add($event);">
                <span class="material-icons">add</span> ADD
            </button>
            <app-global-search (searchEventTrigger)="searchGlobally($event)"></app-global-search>
            <!-- <button class="btn btn-primary" (click)="openTabularFilter($event);">FILTERS</button> -->
        </div>

        <div class="export">
            <button class="btn btn-default" (click)="exportExcel($event);">
                EXPORT TO EXCEL
            </button>
            <button class="btn btn-default" (click)="exportCSV($event);">
                EXPORT TO CSV
            </button>
        </div>
    </div>


    <div class="table-listing">
        <div class="box">
            <div class="box-title">
                <h4>Cluster Master</h4>
            </div>
            <div class="box-body">
                <div class="list-wrap">
                    <div class="view-holder">
                        <div class="export-container" [ngClass]="{'show': isExporting}" *ngIf="activeListing.list && activeListing.list.data">
                            <table id="export-data">
                                <thead>
                                    <tr>
                                        <th>SrNo</th>
                                        <th>Cluster Name</th>
                                        <!-- <th>Cluster Definition</th> -->
                                        <th>Employee Id</th>
                                        <th>Zone</th>
                                        <!-- <th>AcsysSyncstatus Name</th>
                                        <th>AcsysSyncDateTime Name</th>
                                        <th>Acc ID Name</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of activeListing.list.data">
                                        <td>{{item.srno}}</td>
                                        <td>{{item.crName}}</td>
                                        <!-- <td>{{item.crDefinition}}</td> -->
                                        <td>{{item.empId}}</td>
                                        <td>{{item.zoneName}}</td>
                                        <!-- <td>{{item.crAcsysSyncstatus}}</td>
                                        <td>{{item.crAcsysSyncDateTime}}</td>
                                        <td>{{item.accID}}</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="listing-container" [ngClass]="{'aLoader': isLoading, 'failed': isListServerError}">
                            <app-table-listing [listData]="activeListing.list" [appType]="appType"
                                [template]="listingTemplate" [inifiniteScroll]=true [pager]=false
                                (onRowSelectionChange)="onRowSelectionChanged($event)"
                                (onSelectionChange)="loadListing($event)">
                            </app-table-listing>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>