:host {
    display: block;
    height: inherit;
}

.login-container {
    display: flex;
    width: 650px;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    height: inherit;

    .card {
        .card-body {
            .form-group {
                input {
                    color: #fff;
                }
            }
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        margin-right: 15px;
    }
}