<div class="modal-popup site-details">
    <div class="header popupHeaderBg">
        <div class="left-side">
            <h1 class="title">Employee Role Master Data</h1>
        </div>
        <div class="right-side">
            <a href="javascript:void(0);" (click)="close($event)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
            </a>
        </div>
    </div>

    <div class="body" [ngClass]="{'aLoader': isLoading}">
        <form [formGroup]="masterForm" class="form">
            <section class="panel-body">
                <div class="form-container">
                    <div class="form-group row" style="margin-bottom: 0px;">
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Enter Role Name</mat-label>
                                <input formControlName="name" required matInput />
                                <mat-error *ngIf="mf.name.touched && mf.name.invalid">
                                    <div *ngIf="mf.name.errors?.required" class="italicAlign">Employee Role Name is required.
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4" style="display: none;">
                            <mat-form-field>
                                <mat-label>Employee Is Predefined</mat-label>
                                <input formControlName="isPredefined" type="number" min="0" max="1" matInput />
                            </mat-form-field>
                        </div>
        
                        <div class="form-field col-4">
                            <mat-form-field>
                                <mat-label>Role Category Id</mat-label>
                                <input formControlName="roleCategoryId" type="number" matInput />
                            </mat-form-field>
                        </div>
                    </div>
        
                    <div class="form-group row" style="margin-bottom: 0px; display: none;">
                        <div class="form-field col-4">
                            <mat-label>Is Escalation Request</mat-label>
                            <input formControlName="isEscalationReq" type="number" matInput />
                        </div>
        
                        <div class="form-field col-4" style="display: none;">
                            <mat-label>Category Id</mat-label>
                            <input formControlName="categoryId" type="number" matInput />
                        </div>
                    </div>
                </div>
            </section>


            <section class="footer">
                <mat-dialog-actions style="padding: 15px 10px;">
                    <button class="btn btn-primary-outline" (click)="cancel($event)">Cancel</button>
                    <button class="btn btn-primary" *ngIf="isForEdit" (click)="save($event)"
                        [disabled]="masterForm.invalid">Update
                        <mat-icon class="imgPreIcon rotating" *ngIf="isSaving">
                            autorenew
                        </mat-icon>
                    </button>
                    <button class="btn btn-primary" *ngIf="!isForEdit" (click)="save($event)"
                        [disabled]="masterForm.invalid">Add
                        <mat-icon class="imgPreIcon rotating" *ngIf="isSaving">
                            autorenew
                        </mat-icon>
                    </button>
                </mat-dialog-actions>
            </section>
        </form>
    </div>
</div>