.filter-wrapper {
    position: absolute;
    bottom: 0px;

    height: 76%;
  //  width: 75%;

   
    left: 0px;
    transition: 0.5s;
    top: 100%;
    background-color: #222B45;
    z-index: 1;
    padding: 16px ;
    display: inline-table;


    &.open {
        top: 0px;
    }

    h4 {
        font-size: 0.9375rem;
        margin-bottom: 15px;
    }
}

.dropdown-container .fit-to-parent .filter-scroll .filter-holder > span {
    display: block;
    margin-bottom: 15px;
}

.filter-criteria {
    display: flex;
    /* justify-content: space-between; */
    column-gap: 30px;

    .checkbox-container {
        margin-top: 15px;

        .elem-row {
            // margin: 0px 0px 40px 0px;
            display: flex;
            align-items: center;
            >label {
                width: 100px;
                color: #fff;
                font-size: 00.9375rem;
                font-weight: normal;
                margin-bottom: 0px;
            }

            &.alarm-status {
                display: none;
            }
        }

        ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
            display: flex;
            column-gap: 10px;

            li {
                // float: left;
                // width: 50%;
            }
        }
    }
}


.apply-btn {
    position: absolute;
    bottom: 10px;
    left: auto;
    right: 15px;
    width: auto;
}
