<div class="filter-wrapper" [ngClass]="{'open': isReqToOpenFilter}">
    <h4>Filters</h4>
    <div class="filter-criteria">
        <div class="dropdown-container">
            <app-filter-wrapper class="filter-container fit-to-parent"
                [defaultFilterList]="defaultFilterList.slice(0, 5)" [listingType]="1"
                (onSelectionChange)="onFilterChange($event)" (onFilterChange)="onFilterChange($event)">
            </app-filter-wrapper>
        </div>
        <div class="dropdown-container">
            <app-filter-wrapper class="filter-container fit-to-parent"
                [defaultFilterList]="defaultFilterList.slice(5, 9)" [listingType]="1"
                (onSelectionChange)="onFilterChange($event)" (onFilterChange)="onFilterChange($event)">
            </app-filter-wrapper>
        </div>
        <div class="checkbox-container" *ngIf="filterType === 1 || filterType === 2">
            <div class="elem-row site-type">
                <label>Site Type</label>
                <ul>
                    <li *ngFor="let item of siteType">
                        <app-checkbox class="status-basic nb-transition" [inputData]="item">
                        </app-checkbox>
                    </li>
                </ul>
            </div>

            <div class="elem-row site-status">
                <label>Site Status</label>
                <ul>
                    <li>
                        <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedSiteStatus">
                            <mat-radio-button value="All">All</mat-radio-button>
                            <mat-radio-button value="1">Online</mat-radio-button>
                            <mat-radio-button value="0">Offline</mat-radio-button>
                        </mat-radio-group>
                    </li>
                </ul>
            </div>

            <div class="elem-row alarm-status">
                <label>Alarm Status</label>
                <ul>
                    <li>
                        <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedAlarmStatus">
                            <mat-radio-button value="All">All</mat-radio-button>
                            <mat-radio-button value="1">Open</mat-radio-button>
                            <mat-radio-button value="0">Close</mat-radio-button>
                        </mat-radio-group>
                    </li>
                </ul>
            </div>

            <!-- <div class="elem-row customer">
                <label>Customer</label>
                <ul>
                    <li *ngFor="let item of customer">
                        <app-checkbox class="status-basic nb-transition" [inputData]="item">
                        </app-checkbox>
                    </li>
                </ul>
            </div> -->

            <div class="elem-row date-range">
                <label>Date</label>
            
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Start date" required>
                        <input matEndDate formControlName="end" (dateChange)="dateRangeChange('change', $event)" placeholder="End date" required>
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
            
                    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                    <mat-error *ngIf="range.controls.start.invalid && !range.controls.start.hasError('matStartDateInvalid')">Start date is required</mat-error>
                    <mat-error *ngIf="range.controls.end.invalid && !range.controls.end.hasError('matEndDateInvalid')">End date is required</mat-error>
                </mat-form-field>
            </div>
            

            <div class="elem-row" *ngIf="isTimerAvail">
                <label>Start Time</label>
                <input type="time" id="startTime" (change)="dateRangeChange('change', $event);" name="startTime"
                    [(ngModel)]="startTime" />
                <label style="margin-left: 15px;">End Time</label>
                <input type="time" id="endTime" (change)="dateRangeChange('change', $event);" name="endTime"
                    [(ngModel)]="endTime" />
            </div>
        </div>
    </div>
    <div class="apply-btn">
        <button class="btn btn-primary" (click)="applyFilter($event);">APPLY</button>
        <button class="btn btn-primary-outline" (click)="reset($event);">RESET</button>
    </div>
</div>