<div class="parent-container">
    <div class="header">
        <div class="add-report">
            <button class="btn btn-default" (click)="add($event);">
                <span class="material-icons">add</span> ADD
            </button>
            <app-global-search (searchEventTrigger)="searchGlobally($event)"></app-global-search>
            <!-- <button class="btn btn-primary" (click)="openTabularFilter($event);">FILTERS</button> -->
        </div>

        <div class="export">
            <button class="btn btn-default" (click)="exportExcel($event);">
                EXPORT TO EXCEL
            </button>
            <button class="btn btn-default" (click)="exportCSV($event);">
                EXPORT TO CSV
            </button>
        </div>
    </div>

    <div class="table-listing">
        <div class="box">
            <div class="box-title">
                <h4>Employee Master</h4>
            </div>
            <div class="box-body">
                <div class="list-wrap">
                    <div class="view-holder">
                        <div class="export-container" [ngClass]="{'show': isExporting}" *ngIf="activeListing.list && activeListing.list.data">
                            <table id="export-data">
                                <thead>
                                    <tr>
                                        <th>SrNo</th>
                                        <th>Employee Id</th>
                                        <th>Employee Role</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Contact No</th>
                                        <th>Email</th>
                                        <th>Region</th>
                                        <th>Zone</th>
                                        <!-- <th>ERP Location</th> -->
                                        <th>Employee Location</th>
                                        <th>Latitude</th>
                                        <th>Longitude</th>
                                        <th>Entry Date</th>
                                        <th>Exit Date</th>
                                        <th>Escalation Mode</th>
                                        <!-- <th>Acsys Employee ID</th>
                                        <th>Acsys Employee Sync status</th>
                                        <th>Acsys Employee Updated Date</th>
                                        <th>ke ID</th>
                                        <th>Employee Notification</th>
                                        <th>AccID Name</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of activeListing.list.data">
                                        <td>{{item.srno}}</td>
                                        <td>{{item.emEmployeeID}}</td>
                                        <td>{{item.empRoleName}}</td>
                                        <td>{{item.emFirstName}}</td>
                                        <td>{{item.emLastName}}</td>
                                        <td>{{item.emEmail}}</td>
                                        <td>{{item.regionName}}</td>
                                        <td>{{item.zoneName}}</td>
                                        <!-- <td>{{item.emERPLocation}}</td> -->
                                        <td>{{item.emEmployeeID}}</td>
                                        <td>{{item.emLatitude}}</td>
                                        <td>{{item.emLongitude}}</td>
                                        <td>{{item.emEntryDate}}</td>
                                        <td>{{item.emExitDate}}</td>
                                        <td>{{item.emEscalationMode}}</td>
                                        <!-- <td>{{item.emAcsysEmployeeID}}</td>
                                        <td>{{item.emAcsysEmployeeSyncstatus}}</td>
                                        <td>{{item.emAcsysEmployeeUpdatedDt}}</td>
                                        <td>{{item.keID}}</td>
                                        <td>{{item.emNotification}}</td>
                                        <td>{{item.accID}}</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="listing-container" [ngClass]="{'aLoader': isLoading, 'failed': isListServerError}">
                            <app-table-listing [listData]="activeListing.list" [appType]="appType"
                                [template]="listingTemplate" [inifiniteScroll]=true [pager]=false
                                (onRowSelectionChange)="onRowSelectionChanged($event)"
                                (onSelectionChange)="loadListing($event)">
                            </app-table-listing>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>