<div class="parent-container">
    <div class="header">

        <div class="filter-btn add-report">
            <button class="btn btn-primary" (click)="openTabularFilter($event);">FILTERS</button>
            <app-global-search (searchEventTrigger)="searchGlobally($event)"></app-global-search>
        </div>

        <div class="right-side">
            <div class="export">
                <label>Export</label>
                <select class="mini" (change)="exportOptSelected($event);" [(ngModel)]="ddExport">
                    <option value="-1">Please Select</option>
                    <option value="1">Export Excel</option>
                    <option value="2">Export CSV</option>
                    <!-- <option value="3">PDF</option> -->
                </select>
            </div>
        </div>

    </div>

    <div class="table-listing">
        <div class="box alarm-summary">
            <div>
                <div class="button-container">
                    <div class="right-align">
                        <h4 class="table-title">Alarm Status</h4>
                      </div>
                      <li *ngFor="let item of alertsCounts">
                        <button class="btn" [ngClass]="item.cssClass" (click)="item.isClickable ? openTabular(item.type) : null" [disabled]="!item.isClickable">
                          {{item?.count}} {{item.type}}
                        </button>
                      </li>
                    <li *ngFor="let item of alarmCounts">
                        <button class="btn" [ngClass]="item.cssClass" (click)="loadDataByType($event, item)">
                            {{item?.count}} {{item.type}}
                        </button>
                    </li>
                </div>


                <div class="tabular-filter-wrapper" [ngClass]="{'open': isOpenTabularFilter}">
                    <app-tower-filter-wrapper [filterType]=2 [(isOpenTabularFilter)]="isOpenTabularFilter"
                        [defaultFilterList]="defaultFilterList" (onFilter)="applyFilter($event)">
                    </app-tower-filter-wrapper>
                </div>
                <div class="list-wrap">
                    <div class="view-holder">

                        <div class="export-container" [ngClass]="{'show': isExporting}"
                            *ngIf="activeListing.list && activeListing.list.data">
                            <table id="export-data">
                                <thead>
                                    <tr>
                                        <th>SrNo</th>
                                        <th>Site Id</th>
                                        <th>Alarm Name</th>
                                        <th>Alarm Open Time</th>
                                        <th>Alarm Close Time</th>
                                        <th>Elapsed Time</th>
                                        <th>Alarm Status</th>
                                        <th>Alarm Category</th>
                                        <th>Region</th>
                                        <th>Zone</th>
                                        <th>Cluster Name</th>
                                        <th>Customer Name</th>
                                        <th>Engineer Name</th>
                                        <th>Site Type</th>
                                        <th>Last Updated</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of activeListing.list.data">
                                        <td>{{item.srno}}</td>
                                        <td>{{item.smSiteCode}}</td>
                                        <td>{{item.alName}}</td>
                                        <td>{{item.opentime}}</td>
                                        <td>{{item.closeitem}}</td>
                                        <td>{{item.elapsedTime}}</td>
                                        <td>{{item.alrstatus}}</td>
                                        <td>{{item.alarmcat}}</td>
                                        <td>{{item.region}}</td>
                                        <td>{{item.zone}}</td>
                                        <td>{{item.clustername}}</td>
                                        <td>{{item.customerName}}</td>
                                        <td>{{item.engineerName}}</td>
                                        <td>{{item.sitetypeid}}</td>
                                        <td>{{item.lastUpdated}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="listing-container" [ngClass]="{'aLoader': isLoading, 'failed': isListServerError}">
                            <app-table-listing [listData]="activeListing.list" [appType]="appType"
                                [template]="listingTemplate" [inifiniteScroll]=false [pager]=true
                                (onRowSelectionChange)="onRowSelectionChanged($event)"
                                (onSelectionChange)="loadListing($event)">
                            </app-table-listing>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
