:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: auto;
    order: 0;
}

.main-container {
    transform: translate3d(0, 0, 0);
    display: flex;
    flex-direction: column;

    

    &.main-container-fixed {
        position: fixed;
    }

    &.collapse {
        .pull-right-container {
            display: none;
        }

        .menu-items {
            .menu-item {
                a {
                    span {
                        display: none;
                    }
                }
            }
        }
    }

    .scrollable {
        overflow-y: auto;
        overflow-x: hidden;
        flex: 1;
    }

    .menu-item {
        position: relative;

        a {
            display: flex;
            text-decoration: none;
            align-items: center;

            >.pull-right-container {
                position: absolute;
                right: 10px;
                top: 25px;
                margin-top: -15px;

                i {
                    width: auto;
                    height: auto;
                    padding: 0;
                    margin-right: 10px;
                    -webkit-transition: transform .5s ease;
                    -o-transition: transform .5s ease;
                    transition: transform .5s ease;
                    -webkit-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                }
            }

            .menu-title {
                margin-left: 10px;
            }
        }

        .treeview-menu {
            display: none;
            list-style: none;
            padding: 0;
            margin: 0;

            >li {
                margin: 0;
                line-height: 30px;

                >a {
                    height: auto;
                    margin: 0px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 5px 5px 5px 30px;
                    display: block;
                    font-size: 0.725rem;
                    position: relative;
                    color: #fff;
                        

                    >.fa {
                        width: 20px;
                    }
                }

                >a:first-child {
                    margin: 0px;
                }
            }
        }

        ul.treeview-menu {
            overflow: hidden;
            height: auto;
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }

        &.expanded {
            >a {
                >.pull-right-container {
                    i {
                        -webkit-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }
                }
            }

            .treeview-menu {
                display: block;
                margin: 0px 15px;
            }
        }
    }
}