<div class="main-container main-container-fixed" [ngClass]="{'collapse': isToggle}">
    <div class="scrollable">
        <div class="nb-menu">
            <ul class="menu-items">
                <li *ngFor="let item of menu;let i = index" class="menu-item"
                    [ngClass]="{'expanded': item.isExpanded, 'active': item.isActive}">
                    <a [routerLink]="['/pages', item.href]" [attr.href]="'/pages/' + item.href" (click)="menuClick($event, item)">
                        <img [src]="item.logo" alt="{{ item.value }} Logo" class="menu-logo" />
						<span class="menu-title">{{item.value}}</span>
                        <span class="pull-right-container" *ngIf="item.subMenu"
                            (click)="expandCollapse($event, item, i);">
                            <i class="material-icons">keyboard_arrow_left</i>
                        </span>
                    </a>
                    <ng-container *ngIf="item.subMenu && item.subMenu.length">
                        <ul class="treeview-menu">
                            <li *ngFor="let subItem of item.subMenu" class="sub-menu-item">
                                <a [routerLink]="['/pages', item.href, subItem.href]" [attr.href]="'/pages/' + item.href + '/' + subItem.href" (click)="subMenuClick($event, item, subItem)">
                                  {{ subItem.value }}
                                </a>
                              </li>
                      
                        </ul>
                    </ng-container>
                </li>
            </ul>
        </div>
    </div>
</div>